{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="d-flex flex-row">
        <div class="p-2">
            <form action="." method="POST">{% csrf_token %}
                {% for item in ctx %}
                    <input type="checkbox" name="ctx" value="{{item}}">{{item}}
                    <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="btn" value="sellect">Sellect</button>
            </form>
        </div>
    </div>  
</div>

</div>
{%endblock%}